<section class="ad_area">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script type="text/javascript">
function callBackFunc(elm) {  
  elm = elm || document.getElementsByClassName('daum_ddn_area')[0];
  text = [];
  elm.style.display = 'block';
  text.push('<ins class="adsbygoogle"');  
  text.push('style="display:block;"');  
  text.push('data-ad-client="ca-pub-5559425044364726"');
  text.push('data-ad-slot="8119009637"');  
  text.push('data-ad-format="auto"></ins>');
  elm.innerHTML = text.join(' ');  
  (adsbygoogle = window.adsbygoogle || []).push({});  
}  
  </script>
  <ins class="daum_ddn_area" style="display:none;width:100%;" 
                             data-ad-unit    = "DAN-1hrs38krfogo2" 
                             data-ad-media   = "4kD" 
                             data-ad-pubuser = "277" 
                             data-ad-type    = "A" 
                             data-ad-width   = "320" 
                             data-ad-height  = "100"
                             data-ad-onfail  = "callBackFunc"></ins> 
  <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js"></script>
</section>
