---
layout: default
---

<noscript>
	<style>
		article .footnotes {
			display: block;
		}
	</style>
</noscript>

<article>
	<div class="center">
		<h1>{{ page.title }}</h1>
		<!-- {% if page.categories %}<h2>{% include category_links.html categories=page.categories %}</h2>{% endif %} -->
		<time>{{ page.date | date: '%B %-d, %Y' }}</time>

		<a class="comment" href="{{ post.url | prepend: site.baseurl }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
	</div>

	<div class="divider"></div>

	{{ content }}
</article>

<div class="back">
	<a href="{{site.baseurl}}/">Back</a>
</div>

{% include disqus_count.html %}

{% include disqus.html %}
